$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$main-bg-color: #ffffff;
$logo-second-color: #000000;
$team-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.1);
$footer-mail-color: #c4c4c4;
$footer-telephone-color: rgba(255, 255, 255, 0.4);
$icon-color: #afb1b8;

$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-values: 250ms $timing-function;
